Host file-bridge-test-bridge
    HostName %HOST%
    User %USER%
    Port 22
    IdentityFile /home/keldamar/repos/rancher-deployment-test/file_bridge_deployment/ssh-keys/test-bridge/id_rsa
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    ServerAliveInterval 60
    ServerAliveCountMax 3
    ConnectTimeout 30
